<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sistema.DAL.Properties.Settings.GoniotechConnectionString"
            connectionString="Data Source=GESTAODAINFOR11;Initial Catalog=Goniotech;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>